    <%- include("header")-%>


    <div class="text-center center-div" id="logins">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <h2 class="fontweight-bold">
                    Login System
                </h2>
                <Span>
                    Login for existing users
                </Span>
            </div>
            <form action="/route/login" method="post"class="pt-1">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" name="email">
                    <small class ="form-text text-muted text-left"> Register your email </small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password" name="password">
                </div>
                <button type="submit" class="btn btn-successs rounded-pi">
                    submit
                </button>
            </form>
        </div>
    </div>



    <%- include("footer")-%>
